<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h</name>
  <service>
    <type>_orobot._tcp</type>
    <port>3000</port>  # Web app port
  </service>
</service-group>
